/utils-hibernate/target/
/utils-xml/target/
/utils-text/target/
/utils-jdbc/target/
/excel-exporter/target/
/commons-dictionary/target/
/swing-worker/target/
/swing-extentions/target/
/commons-http/target/
/commons-invoice/target/
/utils-sitemap/target/
/utils-jdbc/src/test/resources/hsql/database.properties
/osticket-integration/target/
/payu/target/
/commons-jasypt/target/
/softproject-mail-utils/target/
/commons-ldap/target/