/utils-jdbc/src/test/resources/hsql/database.properties

/**/target/
.idea

/**/*.iml
*.iml

## Directory-based project format:
.idea/

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

/commons-dictionary/commons-dictionary.iml
commons-http/commons-http.iml
commons-jasypt/commons-jasypt.iml
commons-ldap/commons-ldap.iml
excel-exporter/excel-exporter.iml
osticket-integration/osticket-integration.iml
softproject-mail-utils/softproject-mail-utils.iml
swing-extentions/swing-extentions.iml
swing-worker/swing-worker.iml
utils-hibernate/utils-hibernate.iml
utils-jdbc/utils-jdbc.iml
utils-sitemap/utils-sitemap.iml
utils-text/utils-text.iml
utils-xml/utils-xml.iml